files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/get_genome_db.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      
      export AWS_ACCESS_KEY_ID="YOUR AWK KEY"
      export AWS_SECRET_ACCESS_KEY="YOUR AWS SECRET KEY"
      
      aws s3 cp s3://YOUR DB NAME-db/database.tar.bz2 /opt/python/current/app/database.tar.bz2
      tar jxvf /opt/python/current/app/database.tar.bz2
      mv database /opt/python/current/app/database
      chmod -R 777 /opt/python/current/app/database
      
      aws s3 cp s3://YOUR DB NAME-db/database2.tar.bz2 /opt/python/current/app/database2.tar.bz2
      tar jxvf /opt/python/current/app/database2.tar.bz2
      mv database2 /opt/python/current/app/database2
      chmod -R 777 /opt/python/current/app/database2
      
      chmod 400 /opt/python/current/app/SigmaInternal.pem