files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/install_samtools.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      
      yum -y install ncurses-devel ncurses
      cd /opt/python/current/app/sigma/samtools
      make

      #install krona while we're here
      cd /opt/python/current/app/sigma/KronaTools-2.7
      ./install.pl --prefix /opt/python/current/app
      
      cd /opt/python/current/app/sigma
      pip install -r /opt/python/current/app/requirements.txt
      nohup python jobqueue.py </dev/null >/dev/null 2>&1 &
      